body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

.breed-select {
  display: none;
  max-width: 400px;
  margin: auto;
}

.breed-name {
  text-align: left;
  margin-top: 0;
}

.breed-img {
  display: block;
  max-width: 100%;
  border: 1px solid #0d161b;
}

.cat-info-box {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.cat-text-box {
  width: 400px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.loader {
  font-size: 0;

  margin: 20% auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 100px;
  background-color: #e5f3f2;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #0d161b;
  animation: eyeMove 10s infinite, blink 10s infinite;
}

.error {
  margin-top: 30px;
  display: none;
  color: red;
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}
@keyframes eyeMove {
  0%,
  10% {
    background-position: 0px 0px;
  }

  13%,
  40% {
    background-position: -15px 0px;
  }

  43%,
  70% {
    background-position: 15px 0px;
  }

  73%,
  90% {
    background-position: 0px 15px;
  }

  93%,
  100% {
    background-position: 0px 0px;
  }
}

@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }

  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}
